.idea/
.ipynb_checkpoints/
input/
.DS_Store
/sample.csv
/sample.json
.terraform
.terraform*
*.tfvars
terraform.tfstate
terraform.tfstate.backup
*.db
__pycache__/
*.bin
.vessl-serving/
vessl.manifest.yaml
vessl.runner.pkl
/credit_scoring/iris_classifier.ipynb
/langchain/gitbook-docs/
*.swp
.venv
