torch==2.4.0
datasets==3.1.0
bitsandbytes==0.44.1
xformers==0.0.27.post2
huggingface-hub==0.25.2
unsloth[cu124-ampere-torch240] @ git+https://github.com/unslothai/unsloth.git@October-2024
unsloth-zoo==2024.10.0